apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
      - name: producer
        image: producer:latest
        imagePullPolicy: Never
        env:
        - name: RABBITMQ_HOST
          value: "rabbitmq"
        - name: RABBITMQ_USER
          value: "user"
        - name: RABBITMQ_PASS
          value: "password"
      initContainers: # если RabbitMQ не успеет запуститься - перезапустить
      - name: wait-for-rabbitmq 
        image: busybox
        command: ['sh', '-c', 'until nc -z rabbitmq 5672; do echo waiting; sleep 2; done;']
